<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
</head>
<body>
    

    <input type="text" class="message">
    <button>send message!</button>

    <script>

        const socket = io('http://localhost:3001')

        socket.on('connection')

    </script>

</body>
</html>